@import url(//fonts.googleapis.com/css?family=Open+Sans)

@import 'font-awesome'
@import 'bourbon'
@import 'neat'

body
	font-family: "Open Sans"


#ui
	textarea
		width: 640px
		height: 240px
	button
		display: block
